
$font-family: 'Roboto', sans-serif;

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --white-text-color: #ffffff;
    --logo-text-color: #000000;
    --background-color-grey: #2f303a;
    --background-color-white: #f5f4fa;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --border-clients-color: #AFB1B8;
    --soc-link-icon-bg-color:rgba(255, 255, 255, 0.1);
    
}